{% extends "base.html" %}

{% block title %}Home - Juan Sobalvarro{% endblock %}

{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">Hello, I'm Juan Sobalvarro</h1>
    <p class="lead">A passionate software engineer with a love for creating innovative solutions. Here are some of my projects:</p>
    <hr class="my-4">
    <p>Check out my popular repositories:</p>
    <ul>
        <li><a href="https://github.com/JuanSobalvarro/SGD">SGD - Sports Management System</a></li>
        <li><a href="https://github.com/JuanSobalvarro/bookshop">BookShop - E-Commerce Platform</a></li>
        <li><a href="https://github.com/JuanSobalvarro/parametricsim">ParametricSim - Parametric Equations Simulator</a></li>
        <li><a href="https://github.com/JuanSobalvarro/bots">Bots - Collection of Various Bots</a></li>
        <li><a href="https://github.com/JuanSobalvarro/armonicapp">ArmonicApp - Frequency Analysis Tool</a></li>
        <li><a href="https://github.com/JuanSobalvarro/gravitysim">GravitySim - Gravity Simulation</a></li>
    </ul>
</div>
{% endblock %}
